

  /*---------------------------------------
    Animated HERO
  -----------------------------------------*/

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 80vh;
    background: #fff;
  }

  #hero .container {
    padding-top: 72px;
  }

  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    /* color: #fff; */
  }

  #hero h2 {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    font-size: 24px;
  }

  #hero .btn-get-started {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    background: #47b2e4;
  }

  #hero .btn-get-started:hover {
    background: #209dd8;
  }

  #hero .btn-watch-video {
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    margin: 10px 0 0 25px;
    color: #fff;
    line-height: 1;
  }

  #hero .btn-watch-video i {
    line-height: 0;
    color: #fff;
    font-size: 32px;
    transition: 0.3s;
    margin-right: 8px;
  }

  #hero .btn-watch-video:hover i {
    color: #47b2e4;
  }

  #hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }

  @media (max-width: 991px) {
    #hero {
      height: 100vh;
      text-align: center;
    }
    #hero .animated {
      -webkit-animation: none;
      animation: none;
    }
    #hero .hero-img {
      text-align: center;
    }
    #hero .hero-img img {
      width: 50%;
    }
  }

  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
    #hero .hero-img img {
      width: 70%;
    }
  }

  @media (max-width: 575px) {
    #hero .hero-img img {
      width: 80%;
    }
    #hero .btn-get-started {
      font-size: 16px;
      padding: 10px 24px 11px 24px;
    }
  }

  @-webkit-keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  /*---------------------------------------
    Table overflow
  -----------------------------------------*/
  .scrollme {
    overflow-x: auto;
}


  /*---------------------------------------
    BUTTON ON TOP
  -----------------------------------------*/

  textarea.babeng-form-control {
    max-width: 100%;
    max-height: 80px;
    padding: 10px 10px 0 0;
    resize: none;
    border: none;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    line-height: 2; }

  .babeng hr {
    margin: 5px 15px 15px; }

.babeng-btn-round {
    border-width: 1px;
    border-radius: 30px;
    padding-right: 23px;
    padding-left: 23px; }
    .babeng-btn-round.babeng-btn-simple {
      padding: 10px 22px; }

  .rounded-circle {
    border-radius: 50% !important
}

  #scrollTop {
    display: block;
    position: fixed;
    bottom: 230px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #299abd;
    color: #e6ebee;
    cursor: pointer;
    height: 50px;
    width: 50px;
    opacity: 1;
    transition: all 0.3s ease;
  }

  #scrollTop:hover {
    background-color: #d46922;
    opacity: 1;
  }

  #arrow{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    display: block;
}

/* formcari */

.form-control2 {
    border: 0;
}
input[readonly]{
  background-color:transparent;
  border: 0;
  font-size: 1em;
}
.babeng-select2{
  width: 200px;
  height: 200px;
}
.babeng-select{
  position: relative;
  width: 200px;

}
.babeng{
  width:150px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #ccc;
  outline:none;
  padding: 6px;
}

.th-table{
    width: 500px;
}
.babengcontainer{

    margin-right: 20px;
    margin-left: 20px;
    /* overflow: scroll; */
        display: block;
        max-width: 100%;
    overflow-x: scroll;
    /* overflow-wrap: break-word; */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.babeng-min-row{
    width: 1%;
    white-space: nowrap;
}

#babengcardDate{
    /* overflow-x: scroll; */
    overflow-x: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 0px;
    /* background-color: red; */
    /* width: auto; */
}
.babeng-td{

    /* position: absolute; */
}
.babenginputnilai{
  width:35px;
  border-radius: 0px;
  background: #fff;
  border: 0px solid #ccc;
  outline:none;
  padding: 0px;
}

.babeng:focus{
  border:1px solid #56b4ef;
  box-shadow: 0px 0px 3px 1px #c8def0;
}

#babeng-bar {
    width: 100%;
    /* height: 45px; */
    overflow: hidden;
    padding-bottom: 0px;
}

#babeng-bar span {
    height: 100%;
    display: inline;
    overflow: hidden;
    padding-left: 0px
}

#babeng-row {
    /* position: relative; */
    height: 100%;
    width: 100%;
    text-align: center;
    display: inline;
}

#babeng-form{
    /* position: fixed; */
}

#babeng-submit {
    height: 35px;
}
